<div class="about">
    <div class="about-text">

        <h1>Metronomy</h1>
        <p>Metronomy es un grupo de música electrónica creado por Joseph Mount en Totnes, Devon, Inglaterra en 1999. Los
            miembros
            actuales de la banda son Joseph Mount (compositor, cantante, teclados y guitarra), Oscar Cash (saxofón,
            coros y
            teclados), Anna Prior (batería y coros), Olugbenga Adelekan (bajo) y Michael Lovett (teclados, coros y
            guitarra). Su
            música consiste en música electrónica instrumental y, después del lanzamiento de Nights Out, también incluye
            música
            vocal. Mount también hace exitosos remixes en nombre de Metronomy a bandas como Roots Manuva, Franz
            Ferdinand,
            Klaxons,
            Goldfrapp, The Young Knives, Zero 7, Ladytron, Kate Nash y Lykke Li.</p>

        <p> Metronomy ha sacado al mercado, hasta ahora, seis álbumes, Pip Paine (Pay The £5000 You Owe), Nights Out,
            The
            English
            Riviera, Love Letters, Summer 08 y Metronomy Forever. También EP, You Could Easily Have Me (y sencillos:
            "Radio
            Ladio" y
            "Heartbreaker"), Not Made For Love fue publicado el 21 de septiembre de 2009. Han subido algunos remixes a
            su
            página de
            Facebook. The English Riviera fue lanzado en abril de 2011 y Love Letters, en marzo de 2014, Summer 08 con
            un
            enfoque
            dance pop, en 2016;, Metronomy Forever, en 2019; y, Small World en 2022, su último álbum hasta la fecha.</p>
    </div>
</div>