<section class="home">
    <video autoplay muted loop id="myVideo">
        <source src="/images/Pexels Videos 2834.mp4" type="video/mp4">
    </video>
    <h1 class="metro">METRONOMY</h1>
    <div class="home-buttons">
        <a href="/about.hbs"><button type="button" class="btn btn-dark">About</button></a>
        <a href="/works.hbs"> <button type="button" class="btn btn-dark">Works</button></a>
        <a href="/photos.hbs"><button type="button" class="btn btn-dark">Photos</button></a>
    </div>
</section>