<div class="card-group m-5">
    <div class="card m-5">
        <img src="/images/disc1.jpg" class="card-img-top" alt="disc1">
        <div class="card-body">

        </div>
    </div>
    <div class="card m-5">
        <img src="/images/disc2.jpg" class="card-img-top" alt="disc2">
        <div class="card-body">

        </div>
    </div>
    <div class="card m-5">
        <img src="/images/disc3.jpg" class="card-img-top" alt="disc3">
        <div class="card-body">

        </div>
    </div>
</div>

<div class="card-group m-5">
    <div class="card m-5">
        <img src="/images/metro001.jpeg" class="card-img" alt="metro1">
        <div class="card-body">

        </div>
    </div>
    <div class="card m-5">
        <img src="/images/metro002.jpg" class="card-img" alt="metro2">
        <div class="card-body">

        </div>
    </div>
    <div class="card m-5">
        <img src="/images/metro003.jpg" class="card-img" alt="metro3">
        <div class="card-body">

        </div>
    </div>
</div>